@font-face {
  font-family: BWCasual;
  src: url('ETC FW15 WIP.eot'); /* IE9 Compat Modes */
  src: url('ETC FW15 WIP.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url("ETC FW15 WIP.otf") format("opentype");
}

body {
  font-family: BWCasual;
  padding: 2em;
  text-align: center;
}