body {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 5em;
}

h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
}

header {
  margin: 20em 0;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
}

h2 {
  margin: 5em 0;
}

h3 {
  font-weight: normal;
  margin: 0;
}

p {
  font-size: 8em;
  font-family: serif;
  text-align: justify;
  text-indent: 1em;
  text-rendering: optimizeLegibility;
  margin: 0;

  -ms-word-break: break-all;
      word-break: break-all;

      /* Non standard for webkit */
      word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

p:first-of-type {
  text-indent: 0;
}

p.credit {
  text-indent: 0;
  margin: 1em 0;
  font-style: italic;
}

blockquote, sup, .footnotes {
  display: none;
}

.hyphenate {
  text-align:justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
}