body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  transition: -webkit-filter 1s;
}

body.invert {
  -webkit-filter: invert(100%);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  visibility: hidden;
}

article {
  margin-top: 100%;
  background: white;
  padding: 2em 10em;
}